[submodule "logger"]
	path = logger
	url = https://github.com/minecraft-linux/logger.git
[submodule "base64"]
	path = base64
	url = https://github.com/minecraft-linux/base64.git
[submodule "file-util"]
	path = file-util
	url = https://github.com/minecraft-linux/file-util.git
[submodule "arg-parser"]
	path = arg-parser
	url = https://github.com/minecraft-linux/arg-parser.git
[submodule "rapidxml"]
	path = rapidxml
	url = https://github.com/minecraft-linux/rapidxml.git
[submodule "simple-ipc"]
	path = simple-ipc
	url = https://github.com/MCMrARM/simple-ipc.git
[submodule "daemon-utils"]
	path = daemon-utils
	url = https://github.com/minecraft-linux/daemon-utils.git
[submodule "msa"]
	path = msa
	url = https://github.com/minecraft-linux/msa.git
[submodule "msa-daemon"]
	path = msa-daemon
	url = https://github.com/minecraft-linux/msa-daemon.git
[submodule "msa-daemon-client"]
	path = msa-daemon-client
	url = https://github.com/minecraft-linux/msa-daemon-client.git
[submodule "msa-ui-gtk"]
	path = msa-ui-gtk
	url = https://github.com/minecraft-linux/msa-ui-gtk.git
[submodule "msa-ui-qt"]
	path = msa-ui-qt
	url = https://github.com/minecraft-linux/msa-ui-qt.git
